<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weclome</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="content">
    <div class="content-con">
      <div class="content-grid">
        <div class="login-con">
          <div class="login-grid">
            <div class="login"></div>
            <div class="sign-up">
              <p>Don't have an account? <a href="/account/sign-up">Sign up</a></p>
            </div>
            <div class="get-app">
              <p>Get the app.</p>
              <div class="app-con">
              </div>
            </div>
          </div>
        </div>
        <div class="previews-con">
          <img class="phone-previews">
        </div>
      </div>
    </div>
    <div class="footer-con">

    </div>
  </div>
</body>
</html>